<!DOCTYPE html>
<html>
<head>
<title>
    Natours
</title>
<link rel="stylesheet" href="css/style.css"/>
<link rel="shortcut icon" type="image/png" href="img/favicon.png"/>

</head>
    <body>
        <h1> Sasa gamed nyaka</h1>
        <h2>Users</h2>
        
    </body>
</html>